body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:1081px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4138 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:1081px;
  height:1075px;
}
#u4139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:33px;
}
#u4139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:33px;
}
#u4140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:1081px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:33px;
}
#u4141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:1081px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:33px;
}
#u4142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:1081px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:33px;
}
#u4143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:1081px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:33px;
}
#u4144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:1081px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:30px;
}
#u4145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:198px;
  width:1081px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:33px;
}
#u4146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:228px;
  width:1081px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:33px;
}
#u4147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:261px;
  width:1081px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:34px;
}
#u4148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:1081px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:33px;
}
#u4149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:328px;
  width:1081px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:714px;
}
#u4150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:361px;
  width:1081px;
  height:714px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:683px;
}
#u4152 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:403px;
  width:345px;
  height:683px;
  display:flex;
}
#u4152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:651px;
}
#u4153 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:419px;
  width:302px;
  height:651px;
  display:flex;
}
#u4153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:87px;
}
#u4156 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:419px;
  width:300px;
  height:87px;
  display:flex;
}
#u4156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4157 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:473px;
  width:142px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4157 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u4158 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:471px;
  width:12px;
  height:22px;
  display:flex;
}
#u4158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:98px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4159 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:505px;
  width:300px;
  height:98px;
  display:flex;
}
#u4159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4160 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:565px;
  width:43px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4160 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4160_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:right;
}
#u4161 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:525px;
  width:215px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:right;
}
#u4161 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4161_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u4163 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:622px;
  width:43px;
  height:20px;
  display:flex;
  color:#AAAAAA;
}
#u4163 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4163_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:2px;
}
#u4164 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:646px;
  width:269px;
  height:1px;
  display:flex;
}
#u4164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4165 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:624px;
  width:141px;
  height:16px;
  display:flex;
  text-align:right;
}
#u4165 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4165_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4167 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:667px;
  width:71px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4167 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4167_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:2px;
}
#u4168 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:691px;
  width:269px;
  height:1px;
  display:flex;
}
#u4168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4169 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:669px;
  width:101px;
  height:16px;
  display:flex;
  text-align:right;
}
#u4169 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4169_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4171 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:712px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4171 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4171_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:2px;
}
#u4172 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:736px;
  width:269px;
  height:1px;
  display:flex;
}
#u4172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4173 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:714px;
  width:108px;
  height:20px;
  display:flex;
  text-align:right;
}
#u4173 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4173_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:683px;
}
#u4175 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:403px;
  width:345px;
  height:683px;
  display:flex;
}
#u4175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:651px;
}
#u4176 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:419px;
  width:302px;
  height:651px;
  display:flex;
}
#u4176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:87px;
}
#u4179 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:419px;
  width:300px;
  height:87px;
  display:flex;
}
#u4179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4180 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:473px;
  width:142px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4180 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u4181 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:471px;
  width:12px;
  height:22px;
  display:flex;
}
#u4181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:98px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4182 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:505px;
  width:300px;
  height:98px;
  display:flex;
}
#u4182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4183 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:565px;
  width:43px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4183 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4183_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:right;
}
#u4184 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:525px;
  width:215px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:right;
}
#u4184 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4184_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u4186 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:622px;
  width:43px;
  height:20px;
  display:flex;
  color:#AAAAAA;
}
#u4186 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4186_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:2px;
}
#u4187 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:646px;
  width:269px;
  height:1px;
  display:flex;
}
#u4187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4188 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:624px;
  width:141px;
  height:16px;
  display:flex;
  text-align:right;
}
#u4188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4188_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4190 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:667px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4190 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4190_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:2px;
}
#u4191 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:691px;
  width:269px;
  height:1px;
  display:flex;
}
#u4191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4192 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:669px;
  width:23px;
  height:20px;
  display:flex;
  text-align:right;
}
#u4192 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4192_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4194 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:712px;
  width:71px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4194 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4194_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:2px;
}
#u4195 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:736px;
  width:269px;
  height:1px;
  display:flex;
}
#u4195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4196 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:714px;
  width:80px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4196_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4198 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:757px;
  width:71px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4198 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4198_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:2px;
}
#u4199 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:781px;
  width:269px;
  height:1px;
  display:flex;
}
#u4199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4200 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:759px;
  width:101px;
  height:16px;
  display:flex;
  text-align:right;
}
#u4200 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4200_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4202 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:802px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4202 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4202_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:2px;
}
#u4203 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:826px;
  width:269px;
  height:1px;
  display:flex;
}
#u4203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4204 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:804px;
  width:61px;
  height:20px;
  display:flex;
  text-align:right;
}
#u4204 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4204_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:683px;
}
#u4206 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:403px;
  width:345px;
  height:683px;
  display:flex;
}
#u4206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:651px;
}
#u4207 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:419px;
  width:302px;
  height:651px;
  display:flex;
}
#u4207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:87px;
}
#u4210 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:419px;
  width:300px;
  height:87px;
  display:flex;
}
#u4210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4211 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:473px;
  width:142px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4211 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u4212 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:471px;
  width:12px;
  height:22px;
  display:flex;
}
#u4212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:98px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4213 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:505px;
  width:300px;
  height:98px;
  display:flex;
}
#u4213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4214 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:565px;
  width:43px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4214 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4214_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u4215 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:525px;
  width:66px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u4215 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4215_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u4217 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:622px;
  width:43px;
  height:20px;
  display:flex;
  color:#AAAAAA;
}
#u4217 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4217_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:2px;
}
#u4218 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:646px;
  width:269px;
  height:1px;
  display:flex;
}
#u4218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4219 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:624px;
  width:141px;
  height:16px;
  display:flex;
  text-align:right;
}
#u4219 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4219_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4221 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:667px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4221 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4221_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:2px;
}
#u4222 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:691px;
  width:269px;
  height:1px;
  display:flex;
}
#u4222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4223 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:669px;
  width:23px;
  height:20px;
  display:flex;
  text-align:right;
}
#u4223 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4223_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4225 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:712px;
  width:71px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4225 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4225_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:2px;
}
#u4226 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:736px;
  width:269px;
  height:1px;
  display:flex;
}
#u4226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4227 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:714px;
  width:80px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4227 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4227_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4229 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:757px;
  width:71px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4229 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4229_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:2px;
}
#u4230 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:781px;
  width:269px;
  height:1px;
  display:flex;
}
#u4230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4231 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:759px;
  width:101px;
  height:16px;
  display:flex;
  text-align:right;
}
#u4231 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4231_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4233 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:802px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4233 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4233_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:2px;
}
#u4234 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:826px;
  width:269px;
  height:1px;
  display:flex;
}
#u4234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4235 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:804px;
  width:61px;
  height:20px;
  display:flex;
  text-align:right;
}
#u4235 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4235_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
